
<div class="activity" style="text-align: center; padding: 3rem 15rem; font-family: 'Times New Roman', Times, serif; font-size: large;">

    <div class="header">
        <h2>
            Meditation
        </h2>
    </div>
    <hr>
    <div style="text-align: left;"> 
        <button id="readBtn" class="btn btn-sm btn-primary" onclick="toggle()">Read out loud</button>
    </div>
    <div class="video" style="margin: 2rem;">
        <iframe width="700" height="400" src="https://youtube.com/embed/ztLkLKMN5L8" frameborder="0"></iframe>
    </div>
    <div id="description" style="margin: 4rem 0; text-align: left;">
        <p>
            Can't sleep? Find relief from insomnia with this 20-minute guided meditation for sleep by Gurudev Sri Sri Ravi Shankar. 
            Gentle, soothing music and a calming meditation will ease you into a truly relaxed state so that you can get better sleep tonight. Sweet dreams!
        </p>
        <div id="meditation-details" style="text-align: left;">
            <h3 style="margin-bottom:1rem;">
                About Meditation
            </h3>
            <p>
                If stress has you anxious, tense and worried, consider trying meditation. Spending even a few minutes in meditation can help restore your calm and inner peace.
    
                Anyone can practice meditation. It's simple and inexpensive. And it doesn't require any special equipment.
    
                And you can practice meditation wherever you are — whether you're out for a walk, riding the bus, waiting at the doctor's office or even in the middle of a difficult business meeting.
            </p>
            <h3 style="margin-bottom:1rem;">
                Benefits of meditation
            </h3>
            <p>
                Meditation can give you a sense of calm, peace and balance that can benefit both your emotional well-being and your overall health. You can also use it to relax and cope with stress by refocusing your attention on something calming. Meditation can help you learn to stay centered and keep inner peace.
    
                And these benefits don't end when your meditation session ends. Meditation can help carry you more calmly through your day. And meditation may help you manage symptoms of certain medical conditions.    
            </p>
    
        </div>
    </div>
</div>

<script src="text_to_speech.js"></script>
<script>initArticleDiv(document.getElementById('description'))</script>