
<div class="activity" style="text-align: center; padding: 3rem 15rem; font-family: 'Times New Roman', Times, serif; font-size: large;">

    <div class="header">
        <h2>
            Music
        </h2>
    </div>
    <hr>
    <div style="text-align: left;"> 
        <button id="readBtn" class="btn btn-sm btn-primary" onclick="toggle()">Read out loud</button>
    </div>
    <div class="video" style="margin: 2rem;">
        <iframe width="700" height="400" src="https://youtube.com/embed/VgdAcENXy84" frameborder="0"></iframe>
    </div>
    <div id="description" style="margin: 4rem 0; text-align: left;">
        <h3 style="margin-bottom:1rem;">
            About Music
        </h3>
        <p>
            When you begin working with a music therapist, you will start by identifying your goals. For example, if you’re experiencing depression, you may hope to use music to naturally improve your mood and increase your happiness. You may also want to try applying music therapy to other symptoms of depression like anxiety, insomnia, or trouble focusing.
        </p>
        <p>
            You may be asked to tune in to your emotions as you perform these tasks or to allow your feelings to direct your actions. For example, if you are angry, you might play or sing loud, fast, and dissonant chords.
        </p>

        <p>
            You may also use music to explore ways to change how you feel. If you express anger or stress, your music therapist might respond by having you listen to or create music with slow, soft, soothing tones.
        </p>
        
        <h3 style="margin-bottom:1rem;">
            Benefits
        </h3>

        <ul>
            <li>Studies have shown that music therapy can be an effective component of depression treatment.16 According to the research cited, the use of music therapy was most beneficial to people with depression when it was combined with the usual treatments (such as antidepressants and psychotherapy). </li>
            <li>Many people find that music, or even white noise, helps them fall asleep.18 Research has shown that music therapy may be helpful for people with sleep disorders or insomnia as a symptom of depression            </li>
            <li>Music has been explored as a potential strategy for acute and chronic pain management in all age groups. Research has shown that listening to music when healing from surgery or an injury, for example, may help both kids and adults cope with physical pain.</li>
        </ul>
    </div>

</div>

<script src="text_to_speech.js"></script>
<script>initArticleDiv(document.getElementById('description'))</script>