<%- include('partials/header') %>
    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row mx-0 justify-content-center">
                <div class="col-lg-8">
                    <div class="section-title text-center position-relative mb-5">
                        <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Our Activities</h6>
                        <!-- <h1 class="display-4">Checkout New Releases Of Our Activities</h1> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="/activities?activityId=meditation">
                        <img class="img-fluid" src="img/activities-banner/meditation-logo.png" alt="">
                        <div class="courses-text">
                            <div class="border-top w-100 mt-5 mb-3">
                                <h4 class="mt-2 mb-2 text-center text-white px-3">Meditation</h4>                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-6 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="/activities?activityId=yoga">
                        <img class="img-fluid" src="img/activities-banner/yoga-logo.png" alt="">
                        <div class="courses-text">
                            <div class="border-top w-100 mt-5 mb-3">
                                <h4 class="mt-2 mb-2 text-center text-white px-3">Yoga</h4>                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-5 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="/activities?activityId=music">
                        <img class="img-fluid" src="img/activities-banner/music-logo.jpg" alt="">
                        <div class="courses-text">
                            <div class="border-top w-100 mt-5 mb-3">
                                <h4 class="mt-2 mb-2 text-center text-white px-3">Music</h4>                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-5 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="/activities?activityId=story">
                        <img class="img-fluid" src="img/activities-banner/story-logo.jpg" alt="">
                        <div class="courses-text">
                            <div class="border-top w-100 mt-5 mb-3">
                                <h4 class="mt-2 mb-2 text-center text-white px-3">Stories of Hope</h4>                                
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-5 pb-4">
                    <a class="courses-list-item position-relative d-block overflow-hidden mb-2" href="/activities?activityId=color-game">
                        <img class="img-fluid" src="img/activities-banner/color-game-logo.jpeg" alt="">
                        <div class="courses-text">
                            <div class="border-top w-100 mt-5 mb-3">
                                <h4 class="mt-2 mb-2 text-center text-white px-3">Color Game</h4>                                
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Courses End -->
<%- include('partials/footer') %>